GEMINI_API_KEY=AIzaSyAos9YwJafBvCpL9pYoyJ6GiuhXgPAaLhM
PORT=5000
DB_HOST=localhost
DB_PORT=5432
DB_NAME=reviewer_systemdb
DB_PASSWORD=postgresql@25
DB_USER=postgres
NODE_ENV=development
CLIENT_URL=http://localhost:5173
